@using ISEN.DotNet.Library;
@using ISEN.DotNet.Library.Repositories.Interfaces;
@{
    ViewData["Title"] = "Voyageurs";
}
@model Passenger

<div class="row">
    <div class="col-md-12">
      <h1>Voyageur <small>Add</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form  class="form-horizontal" asp-action="Detail">
            <div>
                <label asp-for="FirstName" class="control-label">Firstname</label>
                <input type="text" class="form-control" 
                    id="FirstName" placeholder="Firstname"
                    asp-for="FirstName">
            </div>

            <div>
                <label asp-for="LastName" class="control-label">Lastname</label>
                <input type="text" class="form-control" 
                    id="LastName" placeholder="Lastname"
                    asp-for="LastName">
            </div>


            <hr>
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-controller="Passenger" asp-action="Index" class="btn btn-default">Cancel</a>

        </form>
    </div>
</div>