@using ISEN.DotNet.Library;
@{
    ViewData["Title"] = "Home";
    
}

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/setUSer</small></h1>
        <h3> @ViewData["UserId"]</h3>
        <h3> @ViewData["Session"]</h3>
    </div>
</div>